{{!< default.hbs}}

{{#foreach posts}}
  <article class="articleexcerpt">
    <header class="post-header">
      <span class="articletitle"><a href="{{url}}">{{title}}</a></span>
	  <span class="date">{{date format="dddd, Do MMMM YYYY"}}</span>
    </header>
    {{#if image}}<p><img src="{{image}}" class="post-cover-image" /></p>{{/if}}
	<p>{{excerpt}} ...</p>
    <p><a href="{{url}}">Read More</a> | <a href="{{url}}#disqus_thread">Comments</a> | <a href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}" target="_blank"><i class="fa fa-facebook"></i> Share on Facebook</a> | <a href="http://twitter.com/home?status=Shared%20from%20elliespicks.com%20-%20{{url absolute="true"}}" target="_blank"><i class="fa fa-twitter"></i> Tweet this</a></p>
    </article>
  
{{/foreach}}

    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'elliespicks'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
    